body {
    background-color: maroon;
}

.bodies {
    background: lightgray;
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
    width: 25%; 
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#clock {
    align-self: center;
}